


<link rel="stylesheet" type="text/css" href="css/profile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<nav class="navbar solid navbar-expand-lg">
	  <a class="navbar-brand" href="#"><img class="brand-image" src="images/recruitment.png">JobsFinder</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="collapsibleNavbar">
	    <ul class="navbar-nav mr-auto">
			<li class="nav-item">
	        	<a class="nav-link" href="index.html">Home</a>
	      	</li>
	    </ul>
	    <ul class="navbar-nav">

	      <li class="nav-item">
	        <a class="nav-link" href="#"><img src="images/icon/login.png"> Login</a>
	      </li>
	      <li class="nav-item">
	        <button class="btn btn-success my-2 my-sm-0" type="button">Post your job</button>
	      </li>    
	    </ul>
	  </div>  
	</nav>

<div class="container">
	<div class="eprofile-box">
		<div class="first-row">
			<div class="row no-gutters">
				<div class="col-md-2"><div class="profile-img"><img src="images/resume.jpg" class="img-fluid img-thumbnail"></div></div>
				<div class="col-md-8">
					<div class="header-details">
						<h2>John Doe</h2>
						<p>Address: 123 West 12th Street, Suite 456 New York, NY 123456</p> 
						<p>Phone: +012 345 678 910</p> 
						<p>Email: itsme@surzilegeek.com</p>
					</div>
				</div>
				<div class="col-md-2 border-left text-center ap-jobs">
					<h3>Applied Jobs</h3>
					<h1>29</h1>
				</div>
			</div>
		</div>
		<hr>
		<div class="second-row">
			<div class="career-objective section">
			        <div class="icons">
			            <i class="fa fa-black-tie" aria-hidden="true"></i>
			        </div>   
			        <div class="career-info">
			        	<h3>Career Objective</h3>
			        	<p></p>
			        </div>                                 
				</div><!-- career-objective -->

				<div class="work-history section">
			        <div class="icons">
			            <i class="fa fa-briefcase" aria-hidden="true"></i>
			        </div>   
			        <div class="work-info">
			        	<h3>Work History</h3>
			        	<ul>
			        		<li>
				        		<h4>Senior Graphic Designer @ Buildomo <span>2012 - Present</span></h4>
				        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			        		</li>
			        	</ul>	
			        </div>                                 
				</div><!-- work-history -->

				<div class="educational-background section">
					<div class="icons">
					    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
					</div>	
					<div class="educational-info">
						<h3>Education Background</h3>
						<ul>
							<li>
								<h4>Masters of Arts @ Montana Satet University</h4>
								<ul>
									<li>Year: <span>1999 - 2001</span> </li>
									<li>Concentration/Major: <span>Major in Accounting</span></li>
									<li>Course Duration: <span>2 Years</span></li>
									<li>Result: <span>4.00</span></li>
								</ul>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</li>
						</ul>
					</div>				
				</div><!-- educational-background -->

				<div class="special-qualification: section">
					<div class="icons">
					    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					</div>	
					<div class="qualification">
						<h3>Special Qualification:</h3>
						<ul>
							<li><span>1.</span> 5 years+ experience designing and building products In the Design & IT industry.</li>
						</ul>
					</div>				
				</div><!-- educational-background -->

				<div class="language-proficiency section">
			        <div class="icons">
			            <i class="fa fa-language" aria-hidden="true"></i>
			        </div>
				    <div class="proficiency">
				    	<h3>Language Proficiency</h3>
				        <ul class="list-inline">
				            <li>
				                <h5>English</h5>
				                <ul>
				                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
				                </ul>
				            </li>
				        </ul>
				    </div>
				</div><!-- language-proficiency -->		

				<div class="personal-deatils section">
				    <div class="icons">
				        <i class="fa fa-user-secret" aria-hidden="true"></i>
				    </div>  
				    <div class="personal-info">
				    	<h3>Personal Deatils</h3>
				        <ul class="address">
				            <li><h5>Full Name </h5> <span>:</span>Jhon Doe</li>
				            <li><h5>Father's Name </h5> <span>:</span>Robert Doe</li>
				            <li><h5>Mother's Name </h5> <span>:</span>Ismatic Roderos Doe</li>
				            <li><h5>Date of Birth </h5> <span>:</span>26/01/1982</li>
				            <li><h5>Birth Place </h5> <span>:</span>United State of America</li>
				            <li><h5>Nationality </h5> <span>:</span>Canadian</li>
				            <li><h5>Sex </h5> <span>:</span>Male</li>
				            <li><h5>Address </h5> <span>:</span>121 King Street, Melbourne Victoria, 1200 USA</li>
				        </ul>    	
				    </div>                               
				</div><!-- personal-deatils -->	

				<div class="declaration section">
			        <div class="icons">
			            <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
			        </div>   
			        <div class="declaration-info">
			        	<h3>Declaration</h3>
			        	<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
			        	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni। dolores eos qui ratione voluptatem sequi nesciunt.</p>
			        </div>                                 
				</div><!-- career-objective -->	
		</div>
	</div>	
</div>
