<header>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg fixed-top">
		  <a class="navbar-brand" href="#/!"><img class="brand-image" src="images/recruitment.png">JobsFinder</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="collapsibleNavbar">
		    <ul class="navbar-nav mr-auto">
				<li class="nav-item">
		        	<a class="nav-link" href="#/!"> <i class="fa fa-home"></i> Home</a>
		      	</li>
		    </ul>
		    <ul class="navbar-nav">

		      <li class="nav-item">
		        <a class="nav-link" href="#!login"> <i class="fa fa-user"></i> Login</a>
		      </li>
		      <li class="nav-item">
		        <a class="btn btn-success my-2 my-sm-0" href="#!rLogin" type="button">Post your job</a>
		      </li>    
		    </ul>
		  </div>  
		</nav>		
	</div>
	<div class="header-body">
		<div class="tag-header text-center">
			<p>Nourishing Careers,Enriching Lives<br><small><span class="tag-body">We provide the best oppurtunities to everyone</span></small></p>
		</div>
		
	</div>
</header>

<!-- CATEGORY SECTION BEGINS HERE -->

<div class="category-tab">
<div class="container">
	<table class="table text-center">
		<tbody>
			<tr>
				<td class="border-0">
					<a href="/account-category">
						<div class="category-icon"><img src="images/icon/1.png" alt="images" class="img-responsive"></div>
						<span class="category-title">Accounting/Finance</span>
						<span class="category-quantity">(1298)</span>
					</a>
				</td>
				<td class="border-0">
					<a href="/education-category">
						<div class="category-icon"><img src="images/icon/2.png" alt="images" class="img-responsive"></div>
						<span class="category-title">Education/Training</span>
						<span class="category-quantity">(76212)</span>
					</a>
				</td>
				<td class="border-0">
					<a href="/engineer-category">
						<div class="category-icon"><img src="images/icon/3.png" alt="images" class="img-responsive"></div>
						<span class="category-title">Engineer/Architects</span>
						<span class="category-quantity">(212)</span>
					</a>
				</td>
				<td class="border-0">
					<a href="/garments-category">
						<div class="category-icon"><img src="images/icon/4.png" alt="images" class="img-responsive"></div>
						<span class="category-title">Garments/Textile</span>
						<span class="category-quantity">(972)</span>
					</a>
				</td>
			</tr>
			<tr>
				<td class="border-0">
					<a href="/hr-category">
						<div class="category-icon"><img src="images/icon/5.png" alt="images" class="img-responsive"></div>
						<span class="category-title">HR/Org. Development</span>
						<span class="category-quantity">(1298)</span>
					</a>
				</td>
				<td class="border-0">
					<a href="/design-category">
						<div class="category-icon"><img src="images/icon/6.png" alt="images" class="img-responsive"></div>
						<span class="category-title">Design/Creative</span>
						<span class="category-quantity">(76212)</span>
					</a>
				</td>
				<td class="border-0">
					<a href="research-category">
						<div class="category-icon"><img src="images/icon/7.png" alt="images" class="img-responsive"></div>
						<span class="category-title">Research/Consultancy</span>
						<span class="category-quantity">(1298)</span>
					</a>
				</td>
				<td class="border-0">
					<a href="/medical-category">
						<div class="category-icon"><img src="images/icon/8.png" alt="images" class="img-responsive"></div>
						<span class="category-title">Medical/Pharma</span>
						<span class="category-quantity">(76212)</span>
					</a>
				</td>
			</tr>
			<tr>
				<td class="border-0">
					<a href="/music-category">
						<div class="category-icon"><img src="images/icon/9.png" alt="images" class="img-responsive"></div>
						<span class="category-title">Music & Arts</span>
						<span class="category-quantity">(212)</span>
					</a>
				</td>
				<td class="border-0">
					<a href="/marketing-category">
						<div class="category-icon"><img src="images/icon/10.png" alt="images" class="img-responsive"></div>
						<span class="category-title">Marketing/Sales</span>
						<span class="category-quantity">(1298)</span>
					</a>
				</td>
				<td class="border-0">
					<a href="/prodution-category">
						<div class="category-icon"><img src="images/icon/11.png" alt="images" class="img-responsive"></div>
						<span class="category-title">Production/Operation</span>
						<span class="category-quantity">(124)</span>
					</a>
				</td>
				<td class="border-0">
					<a href="/miscellaneous-category">
						<div class="category-icon"><img src="images/icon/12.png" alt="images" class="img-responsive"></div>
						<span class="category-title">Miscellaneous</span>
						<span class="category-quantity">(972)</span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>	
</div>
</div>

<!-- CATEGORY SECTION ENDS HERE -->

<!-- FIRST BANNER SECTION STARTS HERE -->		

<div class="banner-image" id="banner1">
<div class="row no-gutters">
	<div class="col outer">
		<div class="quotes">
			<blockquote>
				<p>If you find someone who’s great, don’t wait until there’s a job opening – send [them] to me. — Kevin P. Ryan</p>
			</blockquote>
		</div>
	</div>
	<div class="col">
		<div class="banner-section text-center">
			<p>Get the best employees here.</p>
			<a class="btn btn-warning my-2 my-sm-0" href="/rLogin" type="button">Post your job for free</a>
		</div>
	</div>
</div>
</div>

<!-- FIRST BANNER SECTION ENDS HERE -->

<!-- JOB-LIST SECTION BEGINS HERE -->

<div class="job-list">
	<div class="container">
		<h3>Latest jobs</h3>
		<hr>
		<div class="job-box border" ng-repeat="jobs in jobDescData | limitTo : 5 : 1">
			<div class="row no-gutters">
				<div class="col-md-2">
					<div class="job-box-image"><img src="images/dominos.png" class="img-responsive img-thumbnail"></div>
				</div>
				<div class="col-md-8">
					<div class="job-text">
						<h4>{{jobs.job_title}}<small class="text-muted">  {{jobs.job_type}}</small></h4>
						<p><i class="fas fa-map-marker-alt"></i> {{jobs.location}}  {{jobs.salary}} {{jobs.experience}}</p>
						</div>
				</div>
				<div class="col-md-2 text-center">
					<div class="job-button">
						<a class="btn btn-success" href="#">Apply now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- JOB-LIST SECTION ENDS HERE -->

<!-- SECOND BANNER SECTION STARTS HERE -->

<div class="banner-image" id="banner2">
<div class="row no-gutters">
	<div class="col outer">
		<div class="quotes">
			<blockquote>
				<p>We must believe that we are gifted for something and that this thing must be attained. — Marie Curie</p>
			</blockquote>
		</div>
	</div>
	<div class="col">
		<div class="banner-section text-center">
			<p>Grab the best opportunities</p>
			<a href="login" class="btn btn-warning my-2 my-sm-0" type="button">Sign up for free</a>
		</div>
	</div>
</div>
</div>

<!-- SECOND BANNER SECTION ENDS HERE -->		

<!-- STATISTICS SECTION BEGINS HERE -->

<div class="section cta cta-two text-center">
	<div class="row no-gutters">
		<div class="col">
			<div class="single-cta">
				<div class="cta-icon icon-jobs">
					<img src="images/icon/bag.png" alt="Icon" class="img-responsive">
				</div>
				<h3>3,412</h3>
				<h4>Live Jobs</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
			</div>
		</div>

		<div class="col">
			<div class="single-cta">
				<div class="cta-icon icon-company">
					<img src="images/icon/group.png" alt="Icon" class="img-responsive">
				</div>
				<h3>12,043</h3>
				<h4>Total Company</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
			</div>
		</div>

		<div class="col">
			<div class="single-cta">
				<div class="cta-icon icon-candidate">
					<img src="images/icon/single.png" alt="Icon" class="img-responsive">
				</div>
				<h3>5,798,298</h3>
				<h4>Total Candidate</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
			</div>
		</div>
	</div>
</div>

<!-- STATISTICS SECTION ENDS HERE -->



<script>
	$(document).ready(function() {
        // Transition effect for navbar 
        $(window).scroll(function() {

          // checks if window is scrolled more than 500px, adds/removes solid class
          if($(this).scrollTop() > 500) { 
              $('.navbar').addClass('solid');

          } else {
              $('.navbar').removeClass('solid');
              
          }
        });
	});
</script>
	 
